body{
   background-color: #EAF6F6;
}
hr{
   border-style: none;
   border-top: dotted;
   border-color: gray;
   border-width: 5px;
   width: 5%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}

img{
  background-color: red;
}

img:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.circular{
  border-radius: 50%;
}
